asn1crypto==0.24.0
configparser==3.5.0b2
cryptography==2.6.1
Django==1.11.29
djangorestframework==3.9.4
entrypoints==0.3
enum34==1.1.6
ipaddress==1.0.17
keyring==18.0.1
keyrings.alt==3.1.1
psycopg2-binary==2.8.4
pyxdg==0.25
SecretStorage==2.3.1
six==1.12.0